{{page-title "Emtw"}}
<main class="p-2">
  <h1 class="text-2xl font-medium mb-2">Tasks</h1>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Type</th>
        <th>State</th>
        <th>Detail</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.tasks as |task|}}
        <EditTask @task={{task}} as |cmd|>
          <tr>
            <td>{{task.id}}</td>
            <td>{{task.kind}}</td>
            <td>{{task.state}}</td>
            <td>
              {{#unless cmd.show.editDescription}}
                {{task.description}}
              {{else}}
                <cmd.EditDescription />
              {{/unless}}
              {{#each task.comments as |comment|}}
                <div>
                  {{this.ts comment.createdAt}}
                  |
                  {{comment.comment}}
                </div>
              {{/each}}
              {{#if cmd.show.addComment}}
                <cmd.AddComment />
              {{/if}}
            </td>
            <td>
              <button
                type="button"
                {{on "click" (fn (mut cmd.show.addComment) true)}}
              >Add Comment</button>
              <button
                type="button"
                {{on "click" (fn (mut cmd.show.editDescription) true)}}
              >Edit Description</button>
            </td>
          </tr>
        </EditTask>
      {{/each}}
    </tbody>
  </table>

  {{outlet}}

</main>
